<template>
  <section class="registration">
    <div class="registration__top">
      <div class="registration__wrapper">
        <div class="registration__img-box">
          <img
            class="registration__img"
            src="@/static/img/png/registration.png"
            alt="registration"
          />
        </div>
        <div class="registration__info">
          <h2 class="registration__title">
            {{ $t("registration.title") }}
          </h2>
          <p class="registration__subtitle">
            {{ $t("registration.subtitle") }}
          </p>
        </div>
      </div>
    </div>
    <div class="registration__bottom">
      <div class="registration__logo">
        <img src="~/assets/images/logo.svg" alt="logo" />
      </div>
      <div class="registration__logo registration__logo-light">
        <img src="~/assets/images/logo-light.svg" alt="logo" />
      </div>
      <div class="registartion__body r-body">
        <div class="r-body__wrapper">
          <Loader v-if="loading" />
          <ThanksModal :class="{ active: thanks }" />
          <div class="r-body__logo">
            <p class="r-body__text">
              Welcome to <br />
              Cambridge LC.
            </p>

            <p class="r-body__suptitle">
              {{ $t("registration.form_title") }}
            </p>

            <form class="r-body_form" @submit.prevent="postData">
              <input
                type="text"
                v-model.trim="firstName"
                class="r-body__input"
                :placeholder="$t('registration.name')"
              />
              <small class="r-body__error" v-if="errors.firstName">{{
                $t("errors.text")
              }}</small>

              <input
                type="text"
                v-model.trim="lastName"
                class="r-body__input"
                :placeholder="$t('registration.surename')"
              />
              <small class="r-body__error" v-if="errors.lastName">{{
                $t("errors.text")
              }}</small>

              <input
                type="tel"
                v-model.trim="phoneNumber"
                class="r-body__input"
                :placeholder="$t('registration.phone')"
                maxlength="9"
              />
              <small class="r-body__error" v-if="errors.phone">{{
                $t("errors.phone")
              }}</small>

              <button :disabled="loading || thanks" class="r-body__btn">
                {{ $t("registration.button") }}
              </button>
            </form>
          </div>

          <div class="registration__footer">
            <nuxt-link
              class="registration__lang"
              :class="lang.value === $i18n.locale ? 'active' : ''"
              v-for="lang in languages"
              :key="lang.name"
              :to="switchLocalePath(lang.value)"
            >
              <div class="registration__lang-box">
                <img :src="lang.icon" alt="language icon" />
              </div>
              <span class="registration__language">{{ lang.name }}</span>
            </nuxt-link>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  layout: "registration",

  data() {
    return {
      firstName: "",
      lastName: "",
      phoneNumber: "",
      target: "website",
      loading: false,
      thanks: false,
      languages: [
        {
          icon: require("@/assets/images/png/en.png"),
          name: "English",
          value: "en",
        },
        {
          icon: require("@/assets/images/png/uz.png"),
          name: "O’zbekcha",
          value: "uz",
        },
        {
          icon: require("@/assets/images/png/ru.png"),
          name: "Русский",
          value: "ru",
        },
      ],
      errors: {
        firstName: false,
        lastName: false,
        phone: false,
      },
    };
  },
  methods: {
    validate() {
      this.errors.firstName = !this.firstName.length ? true : false;
      this.errors.lastName = !this.lastName.length ? true : false;
      this.errors.phone =
        this.phoneNumber.length < 9 || isNaN(this.phoneNumber) ? true : false;

      return Object.values(this.errors).every((e) => e === false)
        ? true
        : false;
    },
    async postData() {
      const validationResult = this.validate();

      if (validationResult) {
        this.loading = true;
        const res = await this.$axios
          .post(
            `https://teststudentapi.cambridgeonline.uz/v1/student/register`,
            {
              ref: this.$route.params.register ?? this.target,
              name: this.firstName,
              surname: this.lastName,
              phone: this.phoneNumber,
            }
          )
          .then((res) => {
            if (res.data === "done") {
              this.loading = false;
              this.thanks = true;
            } else {
              this.loading = false;
              this.$toast.warning(this.$t("errors.message"), { timeout: 4000 });
            }
            this.firstName = "";
            this.lastName = "";
            this.phoneNumber = "";

            setTimeout(() => {
              this.thanks = false;
            }, 3000);
          })
          .catch((error) => {
            this.loading = false;
            this.$toast.error(this.$t("errors.post"));
          });
      }
    },
  },
};
</script>

<style lang="scss" scoped>
@import "~/assets/styles/registration.scss";
</style>
