@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?nle1h8');
  src:  url('fonts/icomoon.eot?nle1h8#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?nle1h8') format('truetype'),
    url('fonts/icomoon.woff?nle1h8') format('woff'),
    url('fonts/icomoon.svg?nle1h8#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tik-tok:before {
  content: "\e91d";
  color: #fff;
}
.icon-telegram:before {
  content: "\e914";
  color: #fff;
}
.icon-phone:before {
  content: "\e919";
  color: #fff;
}
.icon-location:before {
  content: "\e91c";
  color: #fff;
}
.icon-crosss:before {
  content: "\e913";
}
.icon-burger:before {
  content: "\e900";
}
.icon-3:before {
  content: "\e902";
}
.icon-Award-Winner:before {
  content: "\e903";
}
.icon-British-Curriculum:before {
  content: "\e904";
}
.icon-facebook:before {
  content: "\e905";
}
.icon-Free-Coworking-Areas:before {
  content: "\e906";
}
.icon-Free-Events:before {
  content: "\e907";
}
.icon-Free-Support:before {
  content: "\e908";
}
.icon-General-English:before {
  content: "\e909";
}
.icon-Great-Locations:before {
  content: "\e90a";
}
.icon-IELTS-Full-Course:before {
  content: "\e90b";
}
.icon-IELTS-Rocket:before {
  content: "\e90c";
}
.icon-ietles-icon:before {
  content: "\e90d";
}
.icon-instagram:before {
  content: "\e90e";
}
.icon-next:before {
  content: "\e90f";
}
.icon-prev:before {
  content: "\e910";
}
.icon-Secured-Examination:before {
  content: "\e911";
}
.icon-sign-in-arrow:before {
  content: "\e912";
}
.icon-slider-next:before {
  content: "\e915";
}
.icon-slider-prev:before {
  content: "\e916";
}
.icon-Strong-Teachers:before {
  content: "\e917";
}
.icon-twiter:before {
  content: "\e918";
}
.icon-We-are-Experienced:before {
  content: "\e91a";
}
.icon-youtube:before {
  content: "\e91b";
}
.icon-chevron-down:before {
  content: "\e901";
}
