<template>
  <section class="banner">
    <div
      class="modal_bg"
      v-if="open_video_modal"
      @click="open_video_modal = false"
    >
      <div class="video_modal">
        <iframe
          src="https://www.youtube.com/embed/bpoO79GhsBw"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
    </div>
    <div class="container">
      <div class="banner_wrapper">
        <div class="banner_title" data-aos="fade-right" data-aos-duration="300">
          <div class="_title" v-html="$t('secBanner.title')"></div>
          <p v-html="$t('secBanner.subtitle')"></p>
          <div class="regis">
            <nuxt-link :to="localePath(`/registration`)" class="register">
              {{ $t("secBanner.registerTitle") }}
              <i class="icon-sign-in-arrow"></i
            ></nuxt-link>

            <a :href="`https://student.cambridgeonline.uz/`" class="sign">{{
              $t("secBanner.sign_title")
            }}</a>
          </div>
        </div>
        <div
          class="banner_img"
          data-aos="fade-left"
          data-aos-delay="100"
          data-aos-duration="300"
        >
          <img class="image" src="~/assets/images/png/Rectangle.png" alt="" />
          <img
            src="~/assets/images/png/Group (1).png"
            alt=""
            class="bg_image"
          />
          <div class="player_modal" @click="open_video_modal = true">
            <img src="~/assets/images/png/Frame (1).png" alt="" />
            <span>{{ $t("secBanner.player_title") }}</span>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  data() {
    return {
      open_video_modal: false,
    };
  },
};
</script>

<style></style>
