<template>
  <section class="choice" id="courses">
    <div class="container">
      <h2 data-aos="zoom-in">{{ $t("secChoice.title") }}</h2>
      <div class="choice_wrapper" data-aos="fade-up" data-aos-anchor-placement="center-bottom">
        <ChoiceCard v-for="(item, idx) in choice_array" :key="idx" :item="item" />
      </div>
    </div>


    <div class="choice_wrapper_slider" data-aos="fade-up" data-aos-anchor-placement="center-bottom">
      <!-- <ChoiceCard v-for="(item, idx) in choice_array" :key="idx" :item="item" /> -->
      <client-only>
        <swiper :options="swiperOption">
          <swiper-slide v-for="(item, idx) in choice_array" :key="idx">
            <ChoiceCard :item="item" />
          </swiper-slide>
          <div class="swiper-pagination" slot="pagination"></div>
        </swiper>
      </client-only>
    </div>
  </section>

</template>

<script>
import choice_array from "~/frags/choice_array";
export default {
  data() {
    return {
      choice_array,
      swiperOption: {
        loopFillGroupWithBlank: true,
        loopFillGroupHeighthBlank: true,
        centeredSlides: true,
        loop: true,

        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        breakpoints: {
          0: {
            spaceBetween: 20,
            slidesPerView: 1.3,
          },
          600: {
            spaceBetween: 20,
            slidesPerView: 2.3,
          },
        },
      },
    };
  },
};
</script>

<style>

</style>