<template>
  <section class="choose" id="choose">
    <div class="choose__container">
      <h3 data-aos="zoom-in">{{ $t("secChoose.title") }}</h3>
      <h6 data-aos="zoom-in">{{ $t("secChoose.subtitle") }}</h6>
      <div class="choose_wrapper">
        <ChooseCard
          v-for="(item, idx) in choose_array"
          :key="idx"
          :iconName="item.icon"
          :title="item.title[$i18n.locale]"
          :subtitle="item.subtitle[$i18n.locale]"
          data-aos="flip-left"
        />
      </div>

      <div class="choose_wrapper_slider">
        <client-only>
          <swiper :options="swiperOption">
            <swiper-slide
              v-for="(item, idx) in choose_array"
              :key="idx"
              data-aos="flip-left"
            >
              <ChooseCard
                :iconName="item.icon"
                :title="item.title[$i18n.locale]"
                :subtitle="item.subtitle[$i18n.locale]"
              />
            </swiper-slide>
            <div class="swiper-pagination" slot="pagination"></div>
          </swiper>
        </client-only>
      </div>
    </div>
  </section>
</template>

<script>
import choose_array from "~/frags/choose_array.js";

export default {
  data() {
    return {
      choose_array: choose_array,
      swiperOption: {
        loopFillGroupWithBlank: true,
        centeredSlides: true,
        loop: true,
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        breakpoints: {
          0: {
            spaceBetween: 20,
            slidesPerView: 1.3,
          },
          600: {
            spaceBetween: 20,
            slidesPerView: 2.3,
          },
        },
      },
    };
  },
};
</script>

<style></style>
