<template>
  <section class="ielts" id="students">
    <h4 data-aos="zoom-in">{{ $t("secStudentsSlider.title") }}</h4>
    <h6 data-aos="zoom-in">{{ $t("secStudentsSlider.subtitle") }}</h6>
    <div class="center-carousel">
      <client-only>
        <swiper :options="swiperOptionIelts">
          <swiper-slide v-for="(item, idx) in ielts_array" :key="idx" data-aos="zoom-in">
            <IeltsCard @action="indexCool = idx" :name="item.name" :img="item.img" :alt="item.alt"
              :bandscore="item.bandscore" :listening="item.listening" :reading="item.reading" :writing="item.writing"
              :speaking="item.speaking" :surname="item.surname" :background="item.background" />
          </swiper-slide>
          <div class="swiper-pagination" slot="pagination"></div>
          <!-- <div class="swiper-button-prev" slot="button-prev"></div> -->
          <!-- <div class="swiper-button-next" slot="button-next"></div> -->
        </swiper>
      </client-only>
    </div>
    <CoolLightBox :items="clonedGallery" :index="indexCool" @close="indexCool = null">
    </CoolLightBox>
  </section>
</template>

<script>
import ielts_array from "~/frags/ielts_array";
import CoolLightBox from "vue-cool-lightbox";
import "vue-cool-lightbox/dist/vue-cool-lightbox.min.css";
export default {
  components: {
    CoolLightBox,
  },
  data() {
    return {
      ielts_array,
      indexCool: null,
      clonedGallery: [],
      swiperOptionIelts: {
        loop: true,
        // slidesPerView: 1.5,
        // spaceBetween: 150,

        centeredSlides: true,
        // loopFillGroupWithBlank: true,
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
        breakpoints: {
          0: {
            spaceBetween: 60,
            slidesPerView: 1.2,
          },
          1030: {
            spaceBetween: 70,
            slidesPerView: 1.2,
          },

          1280: {
            spaceBetween: 90,
            slidesPerView: 1.3,
          },
          1460: {
            slidesPerView: 1.5,
            spaceBetween: 150,
          },
        },
      },
    };
  },
  mounted() {
    this.ielts_array.forEach((el) => {
      this.clonedGallery.push(el.img);
      // console.log(this.clonedGallery);
    });
  },
};
</script>

<style>

</style>