<template>
  <section class="location" id="location">
    <h2 data-aos="zoom-in">{{ $t("secLocation.title") }}</h2>
    <div class="example-3d" scoped>
      <client-only>
        <swiper class="swiper" :options="swiperOption" data-aos="fade-zoom-in" data-aos-easing="ease-in-back"
          data-aos-delay="300" data-aos-offset="0">
          <swiper-slide v-for="(item, idx) in location" :key="idx">
            <div class="location_card">
              <img :src="item.img" :alt="item.name" />
              <div class="card_title">
                <h3>{{ item.name }}</h3>
                <h4> <i class="icon-location"></i> Address:</h4>
                <a :href="item.map_link" target="_blank">{{ item.address[$i18n.locale] }}</a>
                <!-- <h4><i class="icon-phone"></i> Phone:</h4>
                <a :href="item.phone_link">{{item.phone}}</a>
                <h4> <i class="icon-telegram"></i> Telegram:</h4>
                <a :href="item.telegram_link">{{item.telegram}}</a>
                <div class="maps" v-html="item.iframe"></div> -->
                <div class="address">
                  <a :href="item.location.google" target="_blank">Google maps</a><a :href="item.location.yandex"
                    target="_blank">Yandex maps</a>
                </div>
              </div>
            </div>
          </swiper-slide>
          <div class="swiper-pagination" slot="pagination"></div>
        </swiper>
      </client-only>
    </div>
  </section>
</template>

<script>
import { mapGetters } from "vuex";
import { Swiper, SwiperSlide } from "vue-awesome-swiper";
import "swiper/css/swiper.css";

export default {
  name: "swiper-example-3d-coverflow",
  title: "3D Coverflow effect",
  components: {
    Swiper,
    SwiperSlide,
  },

  computed: {
    ...mapGetters("location", ["location"]),
  },
  data() {
    return {
      swiperOption: {
        effect: "coverflow",
        loop: true,
        grabCursor: true,
        slidesPerView: 1,
        centeredSlides: true,
        slidesPerView: "auto",
        spaceBetween: -840,
        coverflowEffect: {
          rotate: 0,
          stretch: -100,
          depth: 200,
          modifier: 2,
          slideShadows: true,
        },
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        breakpoints: {
          0: {
            spaceBetween: -200,
          },
          800: {
            spaceBetween: -500,
          },
          1000: {
            spaceBetween: -700,
          },
          1200: {
            spaceBetween: -800,
          },
        },
      },
    };
  },
};
</script>

<style lang="scss">

</style>