<template>

  <section class="platform" id="platform">
    <img src="~/assets/images/bg_lg.png" alt="" class="plat_bg">
    <img src="~/assets/images/bg_xs.png" alt="" class="plat_bg_xs">
    <div class="modal_bg" v-if="open_video_modal" @click="open_video_modal = false">
      <div class="video_modal">

        <iframe src="https://www.instagram.com/reel/CjGI_THrIui/?igshid=YmMyMTA2M2Y=" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
    </div>
    <div class="platform_wrapper">
      <div class="container">
        <div class="platform_block">
          <div class="platform_title" data-aos="fade-right" data-aos-easing="ease-in-sine">
            <h3>{{ $t("secPlatform.title") }}</h3>
            <h6>{{ $t("secPlatform.subtitle") }}</h6>
            <div class="platform_btn_wrapper">
              <button @click="open_video_modal = true">
                <img src="~/assets/images/png/Frame (1).png" alt="" />
                {{ $t("secPlatform.videoText") }}</button>
              <a href="https://student.cambridgeonline.uz/">{{ $t("secPlatform.sign_title") }} <i
                  class="icon-sign-in-arrow"></i>
              </a>
            </div>
          </div>
          <div class="platform_img" data-aos="fade-left" data-aos-easing="ease-in-sine">
            <img src="~/assets/images/png/Group111.png" alt="" class="bg_circle" />
            <img src="~/assets/images/png/Rectangle (1).png" alt="" class="platform_phone" />
            <div class="platform_people_card">
              <div class="platform_people_card_img">
                <img src="~/assets/images/png/Ellipse 47.png" alt="" />
              </div>
              <div class="card_title">
                <h4>{{ $t("secPlatform.people_title") }}</h4>
                <h6>{{ $t("secPlatform.people_subtitle") }}</h6>
              </div>
            </div>
            <div class="platform_people_card2">
              <div class="platform_people_card_img">
                <img src="~/assets/images/png/image 4.png" alt="" />
              </div>
              <div class="card_title">
                <h4>{{ $t("secPlatform.people_title2") }}</h4>
                <h6>{{ $t("secPlatform.people_subtitle2") }}</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  data() {
    return {
      open_video_modal: false
    }
  },
}
</script>

<style>

</style>