<template>
  <section class="teachers" id="team">
    <div class="container">
      <div
        class="_title"
        v-html="$t('secteachers.title')"
        data-aos="zoom-in"
      ></div>
      <client-only>
        <swiper class="swiper" :options="swiperOptionTeachers">
          <swiper-slide
            data-aos="zoom-in-down"
            data-aos-easing="ease-in-sine"
            v-for="(item, idx) in teachers_array"
            :key="idx"
            ><TeachersCard
              :img="item.image"
              :name="item.name[$i18n.locale]"
              :desc="item.desc[$i18n.locale]"
              :experience="item.experience[$i18n.locale]"
              :score="item.score"
              :students="item.students"
            />
          </swiper-slide>
          <!-- <div class="swiper_control"> -->
          <div class="swiper-pagination" slot="pagination"></div>

          <!-- </div> -->
        </swiper>
      </client-only>

      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </section>
</template>

<script>
import teachers_array from "~/frags/teachers_array.js";

export default {
  data() {
    return {
      teachers_array: teachers_array,
      swiperOptionTeachers: {
        loop: true,
        slidesPerView: 1,
        centeredSlides: true,
        spaceBetween: 100,

        loopFillGroupWithBlank: true,
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
      },
    };
  },
};
</script>

<style></style>
