<template>
  <div class="card">
    <img :src="item.icon" alt="" class="card_icon" />
    <img :src="item?.card_link" alt="" class="link" />
    <h3>{{ item.title[$i18n.locale] }}</h3>
    <p>{{ item.subtitle[$i18n.locale] }}</p>
    <nuxt-link :to="'/registration'" class="card_link">
      {{ $t("secChoice.sign_up") }}</nuxt-link
    >
  </div>
</template>

<script>
export default {
  props: {
    item: {
      type: Object,
      default: {},
    },
  },
};
</script>

<style lang="scss"></style>
