<template>
  <div class="choose_card">
    <div class="card_icon"><i :class="iconName"></i></div>
    <h4>{{ title }}</h4>
    <p>{{ subtitle }}</p>
  </div>
</template>

<script>
export default {
  props: {
    iconName: {
      type: String,
      default: "",
    },
    title: {
      type: String,
      default: "",
    },
    subtitle: {
      type: String,
      default: "",
    },
  },
};
</script>

<style lang="scss"></style>
