<template>
  <div
    class="slider_wrapper"
    :style="`background: ${background}`"
    @click="$emit('action')"
  >
    <div class="image">
      <img src="~/assets/images/png/Group111.png" alt="" class="bg_image" />
      <img :src="img" :alt="alt" class="prof" />
    </div>
    <div class="name">
      <h3>{{ name }} {{ surname }}</h3>
      <h2>{{ bandscore }}</h2>
    </div>
    <div class="result">
      <ul>
        <li>
          Listening: <span>{{ listening }}</span>
        </li>
        <li>
          Reading: <span>{{ reading }}</span>
        </li>
        <li>
          Writing: <span>{{ writing }}</span>
        </li>
        <li>
          Speaking: <span>{{ speaking }}</span>
        </li>
        <li>
          Overall: <span>{{ bandscore }}</span>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    img: {
      type: String,
      default: "",
    },
    alt: {
      type: String,
      default: "",
    },
    name: {
      type: String,
      default: "",
    },
    surname: {
      type: String,
      default: "",
    },
    bandscore: {
      type: String,
      default: "",
    },
    listening: {
      type: String,
      default: "",
    },
    reading: {
      type: String,
      default: "",
    },
    writing: {
      type: String,
      default: "",
    },
    speaking: {
      type: String,
      default: "",
    },
    background: {
      type: String,
      default: "linear-gradient(87.72deg, #314085 2.12%, #00A6E8 98.98%)",
    },
  },
};
</script>

<style lang="scss"></style>
