<template>
  <div class="teacher_wrapper">
    <div class="prof_img">
      <img class="user_img" :src="img" alt="" />
      <div class="score">
        <img src="../assets/images/png/Vector.svg" alt="" />
        <h6>
          IELTS: <span>{{ score }}</span>
        </h6>
      </div>
    </div>
    <div class="prof_title">
      <h6>{{ name }}</h6>
      <p>{{ desc }}</p>
      <div class="result">
        <div>
          <h3>{{ score }}</h3>
          <span>IELTS SCORE</span>
        </div>
        <div>
          <h3>{{ experience }}</h3>
          <span>Experience</span>
        </div>
        <div>
          <h3>{{ students }}</h3>
          <span>Students</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    img: {
      type: String,
      default: "",
    },
    name: {
      type: String,
      default: "",
    },
    desc: {
      type: String,
      default: "",
    },
    score: {
      type: String,
      default: "",
    },
    experience: {
      type: String, 
      default: "",
    },
    students: {
      type: String,
      default: "",
    },
  },
};
</script>

<style lang="scss">

</style>