<template>
  <div class="thanks">
    <p>{{ $t("thanks") }}</p>
  </div>
</template>

<script>
export default {};
</script>

<style scoped lang="scss">
.thanks {
  width: 80%;
  max-width: 380px;
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: "Montserrat";
  text-align: center;
  background: linear-gradient(87.72deg, #314085 2.12%, #00a6e8 98.98%);
  border-radius: 35px;
  padding: 25px;
  color: white;
  transition: 500ms;
  transform: translate(-50%, -50%) scale(0);

  &.active {
    transform: translate(-50%, -50%) scale(1);
  }
}
</style>
