body{
	color: $black;
	font-family: 'Montserrat', sans-serif;
	background: #F4F7FD;
	overflow-x: hidden;
}

.container{
	// position: relative;
	width: 100%;
	max-width: $xxl;
	margin: 0 auto;
	padding: 0 20px;

	@include lg{
		padding: 10px;
	}
}