// container breakpoints

// $xxxl:  1760px;
$xxl: 1550px;
$xl: 1260px;
$lg: 1120px;
$md: 800px;
$sm: 600px;
$xs: 400px;

// styles
$font_size: 16px;
$font_weight: 400;

// colors
$white: #ffffff;
$black: #000000;
$brand_color: #0092AD;

// indents