// .ielts {
//   margin-top: 150px;
//   margin-bottom: 100px;

//   .center-carousel {
//     // width: 70%;
//     margin: 0 auto;
//   }

//   .center-carousel .swiper-container {
//     overflow: visible;
//   }

//   .swiper-pagination {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     bottom: -40px;
//   }

//   .swiper-button-prev {
//     top: 100%;

//     &::after {
//       content: "\e916";
//       font-family: "icomoon";

//     }
//   }

//   .swiper-button-next {
//     top: 100%;

//     &::after {
//       content: "\e915";
//       font-family: "icomoon";
//     }
//   }

//   .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
//     width: 16px;
//     height: 16px;


//   }

//   .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
//     width: 22px;
//     height: 22px;
//     background: linear-gradient(87.72deg, #314085 2.12%, #00A6E8 98.98%);
//   }

//   .swiper-container {
//     padding: 60px 0;
//     margin: -60px 0;

//     .swiper-slide {
//       transition: 0.5s;

//       &.swiper-slide-active {
//         transform: scale(1.1);

//       }

//     }
//   }

//   h4 {
//     font-size: 63px;
//     font-weight: 900;
//     line-height: 77px;
//     text-align: center;
//     letter-spacing: 0.01em;
//     text-transform: capitalize;
//     background: linear-gradient(87.72deg, #314085 2.12%, #00A6E8 98.98%);
//     -webkit-background-clip: text;
//     -webkit-text-fill-color: transparent;
//     background-clip: text;
//   }

//   h6 {
//     font-size: 25px;
//     font-weight: 500;
//     text-align: center;
//     margin-bottom: 80px;
//   }


//   .slider_wrapper {
//     height: 600px;
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     background: linear-gradient(87.72deg, #314085 2.12%, #00a6e8 98.98%);
//     border-radius: 65px;
//     padding: 50px 100px 50px 50px;
//     overflow: hidden;

//     @include xxl {
//       height: 480px;
//     }

//     .image {
//       height: 100%;
//       position: relative;
//       display: flex;
//       justify-content: center;
//       align-items: center;

//       .bg_image {
//         position: absolute;
//         top: -100px;
//         left: -140px;
//         height: 140%;
//         background-repeat: no-repeat;
//         background-position: left;

//         @include xxl {
//           top: -0px;
//         }
//       }

//       .prof {
//         position: absolute;
//         top: -50px;
//         left: -45px;
//         height: 110%;

//         @include xxl {
//           top: -20px;
//         }
//       }
//     }

//     .name {
//       color: #fff;
//       text-align: center;
//       width: 0px;

//       h3 {
//         font-weight: 900;
//         font-size: 40px;
//         line-height: 49px;
//         letter-spacing: 0.01em;
//         text-transform: capitalize;

//         @include xxl {
//           font-size: 35px;
//         }
//       }

//       h2 {
//         font-weight: 900;
//         font-size: 107px;
//         line-height: 130px;
//         letter-spacing: 0.01em;
//         text-transform: capitalize;

//         @include xxl {
//           font-size: 100px;
//         }
//       }
//     }

//     .result {
//       color: #fff;

//       ul {
//         display: flex;
//         flex-direction: column;
//         gap: 30px;

//         li {
//           width: 300px;
//           font-weight: 400;
//           font-size: 40px;
//           line-height: 49px;
//           letter-spacing: 0.01em;
//           display: flex;
//           justify-content: space-between;
//           align-items: center;

//           @include xxl {
//             font-size: 35px;
//             width: 245px;
//           }

//           &:last-child {
//             font-weight: 700;
//           }

//           span {
//             font-weight: 700;
//             font-size: 40px;
//             line-height: 50px;
//             letter-spacing: 0.01em;

//             @include xxl {
//               font-size: 35px;
//             }
//           }
//         }
//       }
//     }

//   }

//   .teachers {
//     margin-top: 200px;
//     margin-bottom: 200px;

//     ._title {
//       text-align: center;

//       h2 {
//         font-size: 63px;
//         font-weight: 700;
//         background: linear-gradient(87.72deg, #314085 2.12%, #00A6E8 98.98%);
//         -webkit-background-clip: text;
//         -webkit-text-fill-color: transparent;
//         background-clip: text;
//         text-fill-color: transparent;
//         margin-bottom: 50px;

//         span {
//           font-weight: 900;
//         }
//       }
//     }

//     .swiper-container {
//       padding: 60px 40px;
//       margin: -60px -30px;
//       overflow: hidden;
//     }

//     .swiper-pagination {
//       display: flex;
//       align-items: center;
//       justify-content: center;
//     }

//     .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
//       width: 16px;
//       height: 16px;


//     }

//     .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
//       width: 22px;
//       height: 22px;
//       background: linear-gradient(87.72deg, #314085 2.12%, #00A6E8 98.98%);
//     }
//   }

//   section.choice {

//     h2 {
//       font-weight: 900;
//       font-size: 63px;
//       line-height: 77px;
//       text-align: center;
//       letter-spacing: 0.01em;
//       text-transform: capitalize;
//       background: linear-gradient(87.72deg, #314085 2.12%, #00A6E8 98.98%);
//       -webkit-background-clip: text;
//       -webkit-text-fill-color: transparent;
//       background-clip: text;
//       text-fill-color: transparent;
//       margin-bottom: 120px;
//     }

//     .choice_wrapper {

//       display: flex;
//       justify-content: space-between;
//       align-items: center;
//       gap: 45px;

//       .card:nth-child(2) {
//         transform: translate(0, -60px);
//       }

//       .card:nth-child(4) {
//         transform: translate(0, -60px);
//       }

//       .card:nth-child(2) img.link {
//         top: 28px;
//         left: -185px;
//       }

//       .card:nth-child(3) img.link {
//         top: -65px;
//         left: -165px;
//       }

//       .card:nth-child(4) img.link {
//         top: 257px;
//         left: -143px;
//       }
//     }
//   }

//   section.location {
//     margin-top: 200px;
//     margin-bottom: 100px;

//     h2 {
//       font-weight: 900;
//       font-size: 63px;
//       line-height: 77px;
//       text-align: center;
//       letter-spacing: 0.01em;
//       text-transform: capitalize;
//       background: linear-gradient(87.72deg, #314085 2.12%, #00a6e8 98.98%);
//       -webkit-background-clip: text;
//       -webkit-text-fill-color: transparent;
//       background-clip: text;
//       text-fill-color: transparent;
//       margin-bottom: 70px;
//     }

//     .example-3d {
//       width: 100%;
//       height: 700px;
//       padding-top: 50px;
//       padding-bottom: 50px;

//       .swiper-container {
//         overflow: visible;

//         .swiper-slide {
//           display: flex;
//           justify-content: center;
//           align-items: center;
//           width: 1100px;
//           height: 650px;
//           text-align: center;
//           font-weight: bold;
//           font-size: 24px;
//           background-position: center;
//           background-size: cover;

//           .location_card {
//             width: 100%;
//             height: 100%;
//             background: linear-gradient(44.87deg, #46b788 11.33%, #8cc288 87.95%);
//             border-radius: 60px;
//             border: 2px solid #fff;
//             border-radius: 60px;
//             overflow: hidden;
//             display: flex;
//             text-align: left;

//             img {
//               width: 50%;
//               height: 100%;
//               object-fit: cover;
//             }

//             .card_title {
//               width: 100%;
//               text-align: left;
//               padding-top: 70px;
//               padding-left: 80px;
//               background: #1a72b6;
//               color: #fff;

//               h3 {
//                 font-weight: 900;
//                 font-size: 55px;
//                 line-height: 67px;
//                 letter-spacing: 0.01em;
//                 text-transform: capitalize;
//                 margin-bottom: 25px;
//               }

//               h4 {
//                 font-weight: 800;
//                 font-size: 42px;
//                 line-height: 52px;
//                 margin-bottom: 10px;
//               }

//               p {
//                 font-weight: 500;
//                 font-size: 18px;
//                 line-height: 160%;
//                 opacity: 0.7;
//                 margin-bottom: 25px;
//               }

//               iframe {
//                 width: 350px;
//                 height: 230px;
//               }
//             }
//           }
//         }

//         .swiper {
//           height: 100%;
//           width: 100%;
//           display: flex;
//           align-items: center;

//           .swiper-wrapper {
//             align-items: center !important;
//           }
//         }
//       }
//     }

//     .swiper-pagination {
//       .swiper-pagination-bullets {
//         display: flex;
//         align-items: center;
//         gap: 10px;
//       }

//       .swiper-pagination-bullet {
//         width: 16px;
//         height: 16px;

//         &.swiper-pagination-bullet-active {
//           width: 21px;
//           height: 21px;
//           background: linear-gradient(87.72deg, #314085 2.12%, #00a6e8 98.98%);
//         }
//       }
//     }

//     .swiper-pagination-fraction,
//     .swiper-pagination-custom,
//     .swiper-container-horizontal>.swiper-pagination-bullets {
//       bottom: -60px;
//     }
//   }

//   .footer {
//     background: linear-gradient(87.72deg, #314085 2.12%, #00A6E8 98.98%);
//     padding: 100px 0;
//     color: #fff;

//     .container {
//       display: flex;
//       justify-content: space-between;

//       a {
//         color: #fff;
//         font-weight: 500;
//         font-size: 22px;
//         line-height: 48px;
//       }

//       ul {
//         li {
//           &:first-child a {
//             font-weight: 700;
//           }

//         }
//       }
//     }

//     .contact {
//       h2 {
//         font-weight: 700;
//         font-size: 28px;
//         line-height: 35px;
//       }

//       h5 {
//         font-weight: 500;
//         font-size: 22px;
//         line-height: 27px;
//       }
//     }

//     .social {
//       h2 {
//         font-weight: 700;
//         font-size: 28px;
//         line-height: 35px;
//       }

//       ul {
//         display: flex;
//         align-items: center;
//         gap: 20px;

//       }
//     }

//   }
// }
