@import "./components/_vars.scss";
@import "./components/_mixins.scss";


.header_desc {
  position: fixed;
  width: 100%;
  background: rgba(244, 247, 253, 0.6);
  backdrop-filter: blur(15px);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
  z-index: 9999;

  @include xxl {
    padding: 20px 50px;
  }

  @include xl {
    padding: 20px 30px;
  }

  @include lg {
    padding: 20px 20px;
  }

  .open_menu_blur {
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(5px);
    z-index: 99;
    transition: 1s ease-in-out;
    opacity: 0;
    pointer-events: none;

    &.active {
      background: rgba(255, 255, 255, 0.4);
      backdrop-filter: blur(5px);
      opacity: 1;
      pointer-events: all;

    }
  }

  .header_left {
    position: relative;
    display: flex;
    align-items: center;
    gap: 115px;


    @include xxl {
      gap: 35px;
    }

    @include xl {
      gap: 15px;
    }

    @include lg {
      gap: 10px;
    }

    @include md {
      position: fixed;
      top: 0;
      left: -170%;
      flex-direction: column;
      height: 100vh;
      z-index: 999;
      background: linear-gradient(43.68deg, #314085 17.02%, #00A6E8 97.08%);
      padding: 50px 40px;
      align-items: flex-start;
      transition: 1s ease-in-out;
    }





    &.active {
      left: 0;
    }

    i.icon-crosss {
      position: absolute;
      right: -50px;
      font-size: 26px;
      padding: 5px;
      background: linear-gradient(43.68deg, #314085 17.02%, #00A6E8 97.08%);
      width: 35px;
      height: 35px;
      color: #fff;
      border-radius: 50%;
      cursor: pointer;
    }

    .header_left_logo {
      display: flex;
      align-items: center;
      justify-content: center;
      width: auto;
      height: auto;

      @include md {
        width: 170px;
        margin-bottom: 30px;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }

    .header_menu {
      ul {
        display: flex;
        align-items: center;
        gap: 40px;

        @include xxl {
          gap: 15px;
        }

        @include lg {
          gap: 10px;
        }

        @include md {
          flex-direction: column;
          align-items: flex-start;
        }

        li {
          cursor: pointer;

          @include md {
            max-width: 350px;
          }


          a {
            font-weight: 600;
            font-size: 22px;
            color: #304388;

            @include xxl {
              font-size: 18px;
            }

            @include lg {
              font-size: 16px;
            }

            @include md {
              margin-bottom: 15px;
              font-size: 24px;
              color: #fff;
              max-width: 150px;
            }

            @include sm {
              font-size: 18px;
            }
          }
        }

        .ofetra {
          font-weight: 600;
          font-size: 22px;
          color: #304388;

          @include xxl {
            font-size: 18px;
          }

          @include lg {
            font-size: 16px;
          }

          @include md {
            font-size: 24px;
            color: #fff;
          }
        }
      }
    }
  }



  .header_right {
    display: flex;
    align-items: center;
    justify-content: space-between;



    @include md {
      width: 100%;
    }

    .burger_btn {
      display: none;
      cursor: pointer;

      @include md {
        display: block;
      }
    }



    .header_right_right {
      display: flex;
      align-items: center;
      gap: 20px;

      @include xl {
        gap: 15px;
      }

      @include lg {
        gap: 10px;
      }

      @include xs {
        gap: 0px;
      }
    }

    .right_pay {
      font-weight: 500;
      font-size: 20px;
      padding: 11px 26px;
      background: #FDCB00;
      border-radius: 35px;
      transition: 0.2s;
      cursor: pointer;

      @include xxl {
        font-size: 18px;
        padding: 10px 20px;
      }

      @include lg {
        font-size: 16px;
        padding: 8px 10px;

      }

      @include md {
        padding: 10px 25px;
      }

      @include sm {
        padding: 10px 15px;
      }

      &:hover {
        background: #D6AB00;
      }
    }

    .right_personal {
      transition: 0.2s;
      font-weight: 500;
      font-size: 22px;
      color: #fff;
      padding: 11px 26px;
      background: linear-gradient(87.72deg, #314085 2.12%, #00A6E8 98.98%);
      border-radius: 35px;
      cursor: pointer;

      @include xxl {
        font-size: 18px;
        padding: 10px 20px;
      }

      @include lg {
        font-size: 16px;
        padding: 8px 10px;
      }

      @include md {
        padding: 10px 25px;
      }

      &:hover {
        transition: 0.2s;
        background: linear-gradient(87.72deg, #314085 100%, #00A6E8 0%);
      }
    }

    .right_site_lang {
      position: relative;
      display: flex;
      align-items: center;
      padding: 5px 11px;
      border-radius: 35px;
      border: 1px solid transparent;
      gap: 10px;
      cursor: pointer;
      transition: 0.2s;

      &:hover,
      &.active {
        border: 1px solid #314085;
      }


      img {
        width: 100%;
        height: 100%;
      }

      span {
        font-weight: 500;
        font-size: 22px;
        color: #304388;

        @include xxl {
          font-size: 18px;
        }

        @include lg {
          font-size: 16px;
        }
      }

      i {
        font-size: 12px;
        color: #304388;
        transform: rotate(180deg);

        &.active {
          transform: rotate(0deg);
        }
      }

      ul {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        z-index: 9;

        li {
          // cursor: pointer;
          // display: flex;
          // justify-content: center;
          // font-weight: 500;
          // font-size: 22px;
          // padding: 11px 26px;
          // background: linear-gradient(87.72deg, #314085 2.12%, #00A6E8 98.98%);
          // border-radius: 35px;
          // transition: 0.2s;
          // margin-top: 10px;
          // cursor: pointer;

          a {
            cursor: pointer;
            display: flex;
            justify-content: center;
            font-weight: 500;
            font-size: 22px;
            padding: 11px 26px;
            background: linear-gradient(87.72deg, #314085 2.12%, #00A6E8 98.98%);
            border-radius: 35px;
            transition: 0.2s;
            margin-top: 10px;
            cursor: pointer;
            color: #fff;

            @include xxl {
              font-size: 18px;
              padding: 10px 20px;
            }

            @include lg {
              font-size: 16px;
              padding: 8px 10px;
            }

          }
        }
      }
    }
  }
}

.modal_bg {
  position: fixed;
  top: 0;
  left: 0;
  cursor: pointer;
  width: 100%;
  height: 100vh;
  background: #0007;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;

  .video_modal {
    width: 80%;
    height: 80vh;

    iframe {
      width: 100%;
      height: 100%;
      border: none;
      overflow: none;
    }
  }
}

section.banner {
  margin-top: 90px;



  .banner_wrapper {
    // height: 100vh;
    // overflow: hidden;
    padding-top: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    z-index: 10;

    @include xxl {
      padding-top: 0px;
    }

    @include md {
      flex-direction: column;
      align-items: center;
      padding-top: 50px;
    }

    .banner_title {
      z-index: 8;

      @media (max-width: 700px) {
        width: 570px;
      }

      @include sm {
        width: 400px;
      }

      @media (max-width: 500px) {
        width: 366px;
      }

      @include xs {
        width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      br {
        @include md {
          display: none;
        }
      }

      h2 {
        width: 900px;
        font-size: 85px !important;
        font-weight: 500;
        text-transform: uppercase;
        background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        @include xxl {
          font-size: 60px !important;
          width: 621px;
        }

        @include xl {
          font-size: 40px !important;
          width: 455px;
        }

        @include lg {
          font-size: 36px !important;
          width: 372px;
        }

        @include md {
          width: 711px;
          text-align: center;
        }

        @media (max-width: 700px) {
          width: auto;
        }

        @media (max-width: 500px) {
          font-size: 33px !important;
        }

        span {
          font-weight: 900;
        }
      }

      p {
        margin-top: 15px;
        font-size: 25px;
        font-weight: 500;
        line-height: 35px;
        width: 800px;

        @include xxl {
          font-size: 20px;
          width: 551px;
        }

        @include xl {
          font-size: 16px;
          width: 450px;
        }

        @include lg {
          font-size: 16px;
          width: 368px;
        }

        @include md {
          font-size: 16px;
          width: 711px;
          text-align: center;
        }

        @media (max-width: 700px) {
          width: auto;
        }

        @media (max-width: 500px) {
          font-size: 16px;
          padding: 0 31px;
          line-height: 22px;
        }

        span {
          font-weight: 700;
        }
      }

      .regis {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 30px;
        margin-top: 15px;

        @include lg {
          gap: 20px;
        }

        @include md {
          justify-content: center;
          gap: 10px;
          padding: 0 10px;
        }

        @include xs {
          flex-direction: column;
        }

        .register {
          font-size: 25px;
          font-weight: 600;
          color: #fff;
          padding: 22px 34px;
          display: flex;
          align-items: center;
          gap: 15px;
          background: linear-gradient(103.52deg, #FDCB00 8.15%, #FFC700 90.35%);
          border-radius: 25px;

          @include xl {
            font-size: 16px;
            padding: 15px 20px;
          }

          @include lg {
            padding: 15px 16px;
            border-radius: 10px;

          }
        }

        .sign {
          font-size: 25px;
          font-weight: 600;
          color: #fff;
          padding: 22px 34px;
          background: linear-gradient(87.72deg, #314085 2.12%, #00A6E8 98.98%);
          border-radius: 25px;

          @include xl {
            font-size: 16px;
            padding: 15px 20px;
          }

          @include lg {
            padding: 15px 16px;
            border-radius: 10px;
          }
        }
      }
    }

    .banner_img {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      z-index: 5;

      .image {
        width: 740px;
        height: 670px;

        @include xl {
          width: 500px;
          height: 500px;
        }

        @include lg {
          width: 450px;
          height: 450px;
        }

        @media (max-width: 500px) {
          width: 380px;
          height: 350px;
        }
      }

      .bg_image {
        position: absolute;
        top: -138px;
        left: -190px;
        width: auto;
        height: auto;
        z-index: -1;
        opacity: 0.5;

        @include xxl {
          width: 850px;
          left: -73px;
        }

        @include xl {
          width: 740px;
        }

        @include lg {
          width: 600px;
          top: -78px;
        }

        @media (max-width: 500px) {
          width: 500px;
          top: -20px;
        }
      }

      .player_modal {
        width: 440px;
        background: rgba(255, 255, 255, 0.4);
        backdrop-filter: blur(8px);
        border-radius: 52.6647px;
        margin-top: -60px;
        padding: 7px 10px;
        display: flex;
        align-items: center;
        gap: 30px;
        font-size: 24px;
        font-weight: 500;
        cursor: pointer;

        @include xl {
          width: 370px;
          font-size: 18px;
        }

        @include lg {
          width: 311px;
          font-size: 16px;
          gap: 15px;
          margin-top: -70px;
        }

        img {
          @include lg {
            width: 50px;

          }
        }
      }
    }
  }


}

section.choose {
  margin-top: 150px;
  margin-bottom: 100px;

  @include sm {
    margin-top: 70px;
    margin-bottom: 50px;
  }

  h3 {
    font-weight: 900;
    font-size: 60px;
    text-align: center;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    background: linear-gradient(87.72deg, #314085 2.12%, #00A6E8 98.98%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin-bottom: 10px;

    @include xl {
      font-size: 40px;
    }

    @include sm {
      font-size: 30px;
    }

    @include xs {
      font-size: 24px;
    }
  }

  h6 {
    font-weight: 500;
    font-size: 25px;
    line-height: 140%;
    text-align: center;
    margin-bottom: 35px;


    @include xl {
      font-size: 24px;
    }

    @media (max-width: 500px) {
      font-size: 16px;
      padding: 0 46px;
    }
  }

  .choose_wrapper_slider .choose_card .card_icon {
    transform: translateY(-103px);
  }

  .choose_wrapper_slider .choose_card h4 {
    transform: translateY(-170px);
  }

  .choose_wrapper_slider .choose_card p {
    transform: translateY(-120px);

  }

  .choose_wrapper,
  .choose_wrapper_slider {
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    padding: 0 15px;

    @include xxl {
      max-width: 1050px;
    }

    @include md {
      padding: 0;
    }

    .choose_card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 32%;
      min-height: 240px;
      padding: 20px 25px;
      background-color: #fff;
      border-radius: 35px;
      margin-bottom: 35px;
      overflow: hidden;

      @include lg {
        padding: 15px 20px;
      }

      @include md {
        width: 100%;
      }

      .card_icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70px;
        height: 70px;
        background: #27579B;
        border-radius: 20px;
        margin-bottom: 20px;
        color: #fff;
        font-size: 28px;
        transition: 0.3s;

        @include lg {
          width: 60px;
          height: 60px;
        }

        i {
          @include lg {
            font-size: 20px;
          }
        }
      }

      h4 {
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 7px;
        text-align: center;
        transition: 0.3s;
        text-transform: capitalize;

        @include xxl {
          font-size: 24px;

        }

        @include lg {
          font-size: 20px;
        }
      }

      p {
        max-width: 267px;
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 20px;
        opacity: 0.7;
        text-align: center;
        line-height: 160%;
        transition: 0.3s;

        @include lg {
          margin-bottom: 0px;
        }
      }
    }

    .swiper-slide-active .choose_card .card_icon,
    .swiper-slide-active .choose_card h4,
    .swiper-slide-active .choose_card p {
      transform: translate(0) !important;
    }
  }

  .choose_wrapper {
    display: flex;

    @include md {
      display: none;
    }
  }

  .choose_wrapper_slider {
    display: none;

    @include md {
      display: block;
    }
  }
}



section.platform {

  @media (max-width: 700px) {
    min-height: 700px;
  }

  @media (max-width: 500px) {
    min-height: 520px;
  }

  @include xs {
    min-height: 600px;
  }

  img.plat_bg_xs {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    padding: 0 30px;
    display: none;

    @media (max-width: 700px) {
      display: block;
    }

    @media (max-width: 500px) {
      height: 510px;
    }

    @include xs {
      height: 575px;
    }
  }

  img.plat_bg {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    padding: 0 30px;
    display: none;

    @include xl {
      display: block;
    }

    @include lg {
      height: 390px;
    }

    @include md {
      height: 600px;
    }

    @media (max-width: 700px) {
      display: none;
    }
  }

  .platform_wrapper {
    height: 716px;
    padding: 0 100px;
    display: flex;
    align-items: center;
    background-image: url("./assets/images/39768.png");
    background-position: center;
    background-repeat: no-repeat;

    @include xxl {
      height: 580px;
      border-radius: 66px;
      background-position: bottom;
    }

    @include xl {
      background-image: none;
    }

    @include lg {
      padding: 0 60px;
      height: 360px;
    }

    @include md {
      padding: 0 40px;
      height: 600px;
      align-items: flex-start;
    }

    @include sm {
      height: auto;

    }

    .platform_block {
      display: flex;
      align-items: center;

      @include md {
        flex-direction: column;
        justify-content: center;
      }

      .platform_title {
        width: 630px;
        color: #fff;
        z-index: 2;

        @include xxl {
          width: 540px;
          margin-bottom: 80px;
        }

        @include xl {
          width: 371px;
          margin-bottom: 100px;
        }

        @include lg {
          width: 322px;
          margin-bottom: 0px;
        }

        @include md {
          width: 595px;
          margin-bottom: 0px;
          margin-left: 80px;
          text-align: center;
          margin-top: 30px;
          justify-content: center;
        }


        @media (max-width: 700px) {
          margin-left: 0;
          width: 420px;
        }

        @include sm {
          width: 297px;
        }

        h3 {
          font-size: 60px;
          font-weight: 700;
          margin-bottom: 15px;
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

          @include xxl {
            font-size: 46px;
          }

          @include xl {
            font-size: 40px;
          }

          @include lg {
            font-size: 35px;
          }

          @include sm {
            font-size: 32px;
          }

          @media (max-width: 500px) {
            font-size: 30px;
          }
        }

        h6 {
          font-size: 25px;
          font-weight: 500;
          line-height: 35px;
          margin-bottom: 35px;

          @include xxl {
            font-size: 24px;
          }

          @include xl {
            font-size: 20px;
          }

          @include lg {
            font-size: 16px;
            line-height: 22px;
            margin-bottom: 20px;
          }
        }

        button {
          font-size: 20px;
          font-weight: 500;
          display: flex;
          align-items: center;
          justify-content: center;
          grid-gap: 15px;
          gap: 15px;
          border-radius: 30px;
          -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
          padding: 5px 10px;
          background: white;
          margin-right: 10px;
          margin-bottom: 30px;


          // @include xxl {
          //   // width: 170px;
          //   font-size: 22px;
          // }


          @include xl {
            margin-bottom: 50px;
          }

          @include lg {
            margin-bottom: 30px;
          }

          @include md {
            margin: 0 auto;
            font-size: 16px;
          }

          img {
            height: 45px;
          }
        }

        a {
          padding: 10px;
          color: #fff;
          font-size: 25px;
          font-weight: 600;
          background: linear-gradient(87.72deg, #314085 2.12%, #00A6E8 98.98%);
          border-radius: 25px;


          // @include xxl {
          //   width: 170px;
          //   height: 55px;
          //   font-size: 22px;
          // }

          // @include xl {
          //   font-size: 20px;
          // }

          @include xxl {
            font-size: 18px;
            // position: relative;
            // margin: 0;
            // bottom: 0;
            // left: 0;
            transform: translateX(0%);
          }

          @include md {
            position: absolute;
            bottom: -360px;
            left: 50%;
            transform: translateX(-50%);
            margin: 0 auto;

            bottom: -570px;
            margin: 0 auto;
          }

          @include sm {
            bottom: -450px;
            width: 80%;
          }

          @media (max-width: 500px) {
            bottom: -350px;
          }



          i {
            font-size: 18px;

            @include xxl {
              font-size: 16px;
            }

            @include lg {
              font-size: 14px;
            }
          }
        }
      }

      .platform_img {
        position: relative;

        .bg_circle {
          position: absolute;
          top: -537px;
          left: -30px;
          width: auto;
          height: auto;

          @include xxl {
            top: -400px;
            left: -61px;
            width: 800px;
          }

          @include xl {
            top: -400px;
            left: -61px;
            width: 800px;
          }

          @include lg {
            top: -280px;
            width: 600px;
          }

          @media (max-width: 1030px) {
            left: 20px;
          }

          @media (max-width: 940px) {
            left: -10px;
          }

          @media (max-width: 840px) {
            left: -30px;
          }

          @include md {
            left: -235px;
            top: 4px;
          }

          @media (max-width: 700px) {
            left: -276px;
            width: 550px;
          }

          @include sm {
            left: -233px;
            width: 480px;
          }

          @media (max-width: 500px) {
            left: -165px;
            width: 380px;
          }
        }

        .platform_phone {
          position: absolute;
          top: -500px;
          left: 55px;
          width: auto;
          height: auto;

          @include xxl {
            top: -395px;
            left: 19px;
            width: 671px;
          }

          @include xl {
            top: -360px;
            left: 30px;
            width: 630px;
          }

          @media (max-width: 1150px) {
            width: 530px;
          }

          @media (max-width: 1060px) {
            width: 500px;
          }

          @include lg {
            top: -255px;
            left: -40px;
            width: 465px;
          }

          @media (max-width: 1030px) {
            left: 20px;
          }

          @media (max-width: 940px) {
            left: -10px;
          }

          @media (max-width: 840px) {
            left: -30px;
          }

          @include md {
            left: -200px;
            top: 2px;
          }

          @media (max-width: 700px) {
            left: -231px;
            width: 450px;
          }

          @include sm {
            left: -187px;
            width: 350px;
          }

          @media (max-width: 500px) {
            left: -150px;
            width: 270px;
          }

        }

        .platform_people_card {
          position: absolute;
          top: -10px;
          left: 645px;
          height: auto;
          display: flex;
          gap: 15px;
          align-items: center;
          border-radius: 25px;
          padding: 15px;
          background-color: #fff;
          width: 270px;
          // filter: drop-shadow(0px 4px 51px rgba(147, 145, 169, 0.1));
          // backdrop-filter: blur(215px);

          @include xxl {
            top: -183px;
            left: 409px;
            padding: 10px;
            width: 230px;
          }

          @include xl {
            top: -170px;
            left: 376px;

          }

          @include lg {
            top: -103px;
            left: 221px;
            width: 195px;
            gap: 10px;
            padding: 10px 15px;
          }

          @media (max-width: 1030px) {
            left: 300px;
          }

          @media (max-width: 940px) {
            left: 280px;
          }

          @media (max-width: 840px) {
            left: 220px;
          }

          @include md {
            top: 128px;
            left: 87px;
            width: 195px;
          }

          @media (max-width: 700px) {
            top: 123px;
            left: 60px;
          }

          @include sm {
            top: 79px;
            left: 30px;
            width: 127px;
            padding: 10px;
            border-radius: 15px;
          }

          @media (max-width: 500px) {
            padding: 5px;
            gap: 10px;

            border-radius: 10px;
            width: 100px;
          }

          img {
            width: 55px;
            height: 55px;
            border-radius: 50%;

            @include lg {
              width: 45px;
              height: 45px;
            }

            @include sm {
              width: 30px;
              height: 30px;
            }

            @media (max-width: 500px) {
              width: 22px;
              height: 22px;
            }
          }

          h4 {
            font-size: 18px;
            font-weight: 700;
            margin-bottom: 8px;

            @include xxl {
              font-size: 16px;
            }

            @include lg {
              font-size: 14px;
            }

            @include sm {
              font-size: 8px;
            }

            @media (max-width: 500px) {
              font-size: 7px;
            }
          }

          h6 {
            font-size: 18px;
            font-weight: 400;

            @include xxl {
              font-size: 14px;
            }

            @include lg {
              font-size: 12px;
            }

            @include sm {
              font-size: 8px;
            }

            @media (max-width: 500px) {
              font-size: 7px;
            }
          }
        }

        .platform_people_card2 {
          position: absolute;
          top: -86px;
          left: 80px;
          height: auto;
          display: flex;
          gap: 15px;
          align-items: center;
          background-color: #fff;
          border-radius: 25px;
          padding: 15px;
          width: 270px;

          @include xxl {
            top: -61px;
            left: -12px;
            width: 240px;
          }

          @include xl {
            top: -29px;
            left: -12px;
            width: 240px;
          }

          @include lg {
            top: -29px;
            left: -12px;
            width: 210px;
            gap: 10px;
            padding: 10px 15px;
          }

          @include md {
            top: 198px;
            left: -277px;
          }

          @media (max-width: 700px) {
            top: 224px;
            left: -256px;
          }

          @include sm {
            border-radius: 15px;
            padding: 10px;
            top: 173px;
            left: -200px;
            width: 143px;
          }

          @media (max-width: 500px) {
            padding: 5px;
            border-radius: 10px;
            gap: 10px;
            width: 105px;
            top: 169px;
            left: -151px;
          }



          // filter: drop-shadow(0px 4px 51px rgba(147, 145, 169, 0.1));
          // backdrop-filter: blur(215px);
          img {
            width: 55px;
            height: 55px;
            border-radius: 50%;

            @include lg {
              width: 45px;
              height: 45px;
            }

            @include sm {
              width: 30px;
              height: 30px;
            }

            @media (max-width: 500px) {
              width: 22px;
              height: 22px;
            }
          }

          h4 {
            font-size: 18px;
            font-weight: 700;
            margin-bottom: 8px;

            @include xxl {
              font-size: 16px;
            }

            @include lg {
              font-size: 14px;
            }

            @include sm {
              font-size: 8px;
            }

            @media (max-width: 500px) {
              font-size: 7px;
            }
          }

          h6 {
            font-size: 18px;
            font-weight: 400;

            @include xxl {
              font-size: 14px;
            }

            @include lg {
              font-size: 12px;
            }

            @include sm {
              font-size: 8px;
            }

            @media (max-width: 500px) {
              font-size: 7px;
            }
          }

        }
      }
    }

    .container {
      @include md {
        margin: 0;
      }
    }
  }
}

.ielts {
  margin-top: 150px;
  margin-bottom: 200px;

  @include md {
    margin-top: 280px;
  }

  @include sm {
    margin-top: 140px;
    margin-bottom: 70px;
  }

  .center-carousel {
    // width: 70%;
    margin: 0 auto;
  }

  .center-carousel .swiper-container {
    overflow: visible;
  }

  .swiper-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: -40px;

    @include md {
      bottom: 0;
    }

    @include sm {
      bottom: 10px;
    }
  }

  .swiper-button-prev {
    top: 100%;

    &::after {
      content: "\e916";
      font-family: "icomoon";

    }
  }

  .swiper-button-next {
    top: 100%;

    &::after {
      content: "\e915";
      font-family: "icomoon";
    }
  }

  .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    width: 16px;
    height: 16px;

    @include md {
      width: 10px;
      height: 10px;
    }
  }

  .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 22px;
    height: 22px;
    background: linear-gradient(87.72deg, #314085 2.12%, #00A6E8 98.98%);

    @include md {
      width: 10px;
      height: 10px;
    }
  }

  .swiper-container {
    padding: 60px 0;
    margin: -60px 0;

    .swiper-slide {
      transition: 0.5s;

      &.swiper-slide-active {
        transform: scale(1.1);
      }

      .slider_wrapper {
        height: 600px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        // background: linear-gradient(87.72deg, #314085 2.12%, #00a6e8 98.98%);
        border-radius: 65px;
        padding: 50px 100px 50px 50px;
        overflow: hidden;

        @include xxl {
          height: 480px;
        }

        @include xl {
          height: 400px;
          padding: 50px;
        }

        @include lg {
          height: 290px;
          padding: 40px;
        }

        @media (max-width: 700px) {
          height: 230px;
          padding: 50px 30px;
          border-radius: 30px;
        }

        @include sm {
          height: 200px;
        }

        @media (max-width: 500px) {
          height: 165px;
          padding: 50px 20px;
          border-radius: 30px;
        }

        .image {
          height: 100%;
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;

          .bg_image {
            position: absolute;
            top: -100px;
            left: -140px;
            height: 140%;
            background-repeat: no-repeat;
            background-position: left;

            @include xxl {
              top: -70px;
            }

            @include xl {
              top: -111px;
              height: 168%;
            }

            @include lg {
              top: -80px;
              left: -90px;
              height: 168%;
            }

            @media (max-width: 700px) {
              top: -79px;
              left: -79px;
              height: 203%;
            }

            @include sm {
              top: -61px;
              left: -79px;
              height: 203%;
            }

            @media (max-width: 500px) {
              top: -54px;
              left: -70px;
              height: 272%;
            }
          }

          .prof {
            position: absolute;
            top: -50px;
            left: -45px;
            height: 110%;

            @include xxl {
              top: -20px;
            }

            @include xl {
              height: 115%;
              top: -45px;
            }

            @include lg {
              height: 114%;
              top: -30px;
              left: -28px;
            }

            @media (max-width: 700px) {
              height: 148%;
              top: -45px;
              left: -28px;
            }

            @include sm {
              height: 167%;
              top: -45px;
              left: -35px;
            }

            @media (max-width: 500px) {
              height: 200%;
              top: -33px;
              left: -29px;
            }
          }
        }

        .name {
          color: #fff;
          text-align: center;
          width: 0px;

          @media (max-width: 500px) {
            margin-left: -30px;
          }

          @include xs {
            margin-left: 20px;
          }

          h3 {
            font-weight: 900;
            font-size: 40px;
            line-height: 49px;
            letter-spacing: 0.01em;
            text-transform: capitalize;

            @include xxl {
              font-size: 35px;
            }

            @include xl {
              font-size: 30px;
            }

            @include lg {
              font-size: 24px;
              margin-bottom: -30px;
              line-height: 30px;
            }

            @media (max-width: 700px) {
              font-size: 17px;
            }

            @include sm {
              font-size: 14px;
              line-height: 20px;
            }

            @media (max-width: 500px) {
              font-size: 12px;
            }
          }

          h2 {
            font-weight: 900;
            font-size: 107px;
            line-height: 130px;
            letter-spacing: 0.01em;
            text-transform: capitalize;

            @include xxl {
              font-size: 100px;
            }

            @include xl {
              font-size: 70px;
            }

            @include lg {
              font-size: 50px;
            }

            @media (max-width: 700px) {
              font-size: 40px;
            }

            @media (max-width: 500px) {
              font-size: 24px;
              line-height: 88px;
            }
          }
        }

        .result {
          color: #fff;

          ul {
            display: flex;
            flex-direction: column;
            gap: 30px;

            @include xl {
              gap: 10px;
            }

            @include lg {
              gap: 0px;
            }

            @media (max-width: 700px) {
              height: 170px;
              justify-content: space-between;
            }

            @include sm {
              height: 150px;
            }

            @media (max-width: 500px) {
              height: 120px;
            }

            li {
              width: 300px;
              font-weight: 400;
              font-size: 40px;
              line-height: 49px;
              letter-spacing: 0.01em;
              display: flex;
              justify-content: space-between;
              align-items: center;

              @include xxl {
                font-size: 35px;
                width: 245px;
              }

              @include lg {
                font-size: 20px;
                width: 140px;
              }

              @media (max-width: 700px) {
                font-size: 16px;
                line-height: 16px;
                width: 105px;
              }

              @include sm {
                font-size: 14px;
              }

              @media (max-width: 500px) {
                font-size: 12px;
                width: 81px;
              }

              @include xs {
                font-size: 10px;
                width: 67px;
              }

              &:last-child {
                font-weight: 700;
              }

              span {
                font-weight: 700;
                font-size: 40px;
                line-height: 50px;
                letter-spacing: 0.01em;

                @include xxl {
                  font-size: 35px;
                }

                @include lg {
                  font-size: 20px;
                }

                @media (max-width: 700px) {
                  font-size: 16px;
                  line-height: 16px;
                }

                @include sm {
                  font-size: 14px;
                }

                @media (max-width: 500px) {
                  font-size: 12px;
                }

                @include xs {
                  font-size: 10px;
                  width: 67px;
                }
              }
            }
          }
        }

      }

    }
  }

  h4 {
    font-size: 63px;
    font-weight: 900;
    line-height: 77px;
    text-align: center;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    background: linear-gradient(87.72deg, #314085 2.12%, #00A6E8 98.98%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

    @include xl {
      font-size: 40px;
    }

    @include sm {
      font-size: 30px;
    }

    @include xs {
      font-size: 26px;
    }
  }

  h6 {
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 80px;

    @include sm {
      font-size: 20px;
      margin-bottom: 40px;
    }
  }



}



.teachers {
  // margin-top: 200px;
  margin-bottom: 200px;

  @include sm {
    margin-bottom: 100px;
  }

  ._title {
    text-align: center;

    h2 {
      font-size: 63px;
      font-weight: 700;
      background: linear-gradient(87.72deg, #314085 2.12%, #00A6E8 98.98%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
      margin-bottom: 50px;

      @include xl {
        font-size: 40px;
      }

      @include sm {
        font-size: 30px;
      }

      span {
        font-weight: 900;
      }
    }
  }

  .swiper-container {
    padding: 60px 40px;
    margin: -60px -30px;
    overflow: hidden;

    @include sm {
      padding: 50px 40px;
    }
  }

  .swiper-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    width: 16px;
    height: 16px;

    @include md {
      width: 12px;
      height: 12px;
    }

    @include sm {
      width: 8px;
      height: 8px;
    }
  }

  .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 22px;
    height: 22px;
    background: linear-gradient(87.72deg, #314085 2.12%, #00A6E8 98.98%);

    @include md {
      width: 14px;
      height: 14px;
    }

    @include sm {
      width: 10px;
      height: 10px;
    }
  }

  .swiper-button-prev {
    left: 90px;

    @include xl {
      left: 40px;
    }

    @include sm {
      right: 20px;
    }

    &::after {
      content: "\e910";
      font-family: "icomoon";
      font-size: 100px;

      @include xxl {
        font-size: 80px;
      }

      @include sm {
        font-size: 50px;
      }

    }
  }

  .swiper-button-next {
    right: 90px;

    @include xl {
      right: 40px;
    }

    @include sm {
      right: 20px;
    }

    &::after {
      content: "\e90f";
      font-family: "icomoon";
      font-size: 100px;

      @include xxl {
        font-size: 80px;
      }

      @include sm {
        font-size: 50px;
      }
    }
  }

  .teacher_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 150px;


    @include xxl {
      gap: 80px;
      padding: 0 100px;
    }

    @include xl {
      gap: 60px;
      padding: 0 80px;
    }

    @include lg {
      flex-direction: column;
    }

    @include md {
      padding: 0;
    }

    @include sm {
      gap: 10px;
    }


    // background: #f4f7fd;

    .prof_img {
      position: relative;

      // @include xxl {
      //   width: 400px;
      // }

      // @include xl {
      //   width: 300px;
      // }

      // @include sm {
      //   width: 200px;
      // }

      // &::after {
      //   content: "";
      //   position: absolute;
      //   bottom: 3px;
      //   left: 0;
      //   width: 500px;
      //   height: 500px;
      //   border-radius: 50%;
      //   background: linear-gradient(44.87deg, #46b788 11.33%, #8cc288 87.95%);
      //   z-index: -1;

      //   @include xxl {
      //     width: 400px;
      //     height: 400px;
      //   }

      //   @include xl {
      //     width: 300px;
      //     height: 300px;
      //   }

      //   @include sm {
      //     width: 200px;
      //     height: 200px;
      //   }
      // }

      // &::before {
      //   content: "";
      //   position: absolute;
      //   bottom: 2px;
      //   left: -25px;
      //   width: 550px;
      //   height: 550px;
      //   border-radius: 50%;
      //   background: rgba(245, 199, 0, 0.05);
      //   border: 2px dashed #F5C700;
      //   z-index: -1;

      //   @include xxl {
      //     width: 450px;
      //     height: 450px;
      //   }

      //   @include xl {
      //     width: 350px;
      //     height: 350px;
      //   }

      //   @include sm {
      //     width: 250px;
      //     height: 250px;
      //   }

      //   @media (max-width: 500px) {
      //     width: 220px;
      //     height: 220px;
      //     left: -11px;
      //   }
      // }

      img.user_img {
        // width: 500px;
        // width: 100%;
        // height: 400px;
        max-height: 400px;
        object-fit: cover;
        border-bottom-right-radius: 260px;
        border-bottom-left-radius: 260px;

        @include sm {
          max-height: 330px;
        }


      }

      .score {
        position: absolute;
        bottom: 65px;
        right: -75px;
        display: flex;
        align-items: center;
        padding: 15px 20px;
        background: linear-gradient(98.04deg,
            rgba(255, 255, 255, 0.8) 19.07%,
            rgba(255, 255, 255, 0.232) 136.85%);
        backdrop-filter: blur(215px);
        border-radius: 25px;

        @include xxl {
          right: -50px;
          padding: 10px 15px;
        }

        @include xxl {
          padding: 5px 15px;
        }

        @include sm {
          padding: 6px;
          border-radius: 11px;
          right: 20px;
          bottom: 20px;
        }

        h6 {
          font-size: 30px;
          font-weight: 600;

          @include xxl {
            font-size: 24px;
          }

          @include sm {
            font-size: 13px;
            gap: 5px;
          }

          span {
            font-weight: 700;
          }

        }

        img {
          @include sm {
            height: 30px;
          }
        }
      }
    }

    .prof_title {
      text-align: start;

      @include lg {
        text-align: center;
      }

      h6 {
        font-weight: 800;
        font-size: 40px;
        line-height: 49px;
        margin-bottom: 25px;

        @include sm {
          font-size: 30px;
          margin-bottom: 5px;
        }
      }

      p {
        font-weight: 500;
        font-size: 16.8747px;
        line-height: 160%;
        opacity: 0.7;
        margin-bottom: 34px;

        @include sm {
          font-size: 14px;
          margin-bottom: 0px;
        }
      }

      .result {
        display: flex;
        align-items: center;
        justify-content: space-between;

        div {

          display: flex;
          align-items: center;
          flex-direction: column;

          h3 {
            font-weight: 900;
            font-size: 63px;
            line-height: 77px;
            color: #72c040;
            text-transform: uppercase;

            @include xxl {
              font-size: 45px;
            }

            @include xxl {
              font-size: 30px;
            }

            @include sm {
              font-size: 26px;
            }

            @include sm {
              font-size: 20px;
              line-height: 50px;
            }
          }

          span {
            font-weight: 600;
            font-size: 20px;

            @include xxl {
              font-size: 18px;
            }

            @include sm {
              font-size: 16px;
            }

            @include xs {
              font-size: 12px;
            }
          }
        }


      }
    }
  }
}

section.choice {

  h2 {
    font-weight: 900;
    font-size: 63px;
    line-height: 77px;
    text-align: center;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    background: linear-gradient(87.72deg, #314085 2.12%, #00A6E8 98.98%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin-bottom: 120px;

    @include xl {
      font-size: 40px;
    }

    @include sm {
      font-size: 30px;
      line-height: 40px;
      margin-bottom: 0px;
    }

    @include xs {
      font-size: 24px;
      line-height: 30px;
    }
  }

  .choice_wrapper,
  .choice_wrapper_slider {

    display: flex;
    justify-content: space-between;
    align-items: stretch;

    @include xl {
      flex-wrap: wrap;
    }

    gap: 45px;

    .card:nth-child(2) {
      transform: translate(0, -60px);
    }

    .card:nth-child(4) {
      transform: translate(0, -60px);
    }

    .card:nth-child(2) img.link {
      top: 28px;
      left: -185px;
    }

    .card:nth-child(3) img.link {
      top: -65px;
      left: -165px;

      @include xxl {
        top: -100px;
      }
    }

    .swiper-container {
      padding: 40px 0;
    }

    .card:nth-child(4) img.link {
      top: 257px;
      left: -143px;

      @include xxl {
        top: -20px;
      }
    }

    .card {
      position: relative;
      width: 25%;
      padding: 35px 36px;
      filter: drop-shadow(0px 4.21867px 31.64px rgba(39, 87, 155, 0.1));
      border-radius: 35px;
      background: #ffffff;

      @include xl {
        width: 47%;
        transform: translate(0);
      }

      @include md {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        min-height: 344px;
        padding: 20px 36px;
      }

      img.link {
        position: absolute;
        top: 0;
        left: 0;

        @include xl {
          display: none;
        }
      }

      h3 {
        font-weight: 800;
        font-size: 24px;
        text-align: center;
        line-height: 39px;
        margin-bottom: 20px;

        @include xxl {
          margin-bottom: 10px;
        }
      }

      p {
        font-weight: 500;
        font-size: 16px;
        line-height: 160%;
        opacity: 0.7;
        margin-bottom: 70px;

        @include xxl {
          margin-bottom: 25px;
        }

        @include md {
          font-size: 13px;
          text-align: center;
        }
      }

      a {
        background: #fdcb00;
        border-radius: 25px;
        padding: 18px 30px;
        font-weight: 600;
        font-size: 22px;
        line-height: 27px;
        display: flex;
        align-items: center;
        color: #ffffff;
        display: inline-block;
        text-align: center;

        @include xxl {
          padding: 15px 20px;
          font-size: 20px;
        }
      }
    }
  }

  .choice_wrapper {
    display: flex;

    @include md {
      display: none;
    }
  }

  .choice_wrapper_slider {
    display: none;

    @include md {
      display: flex;
    }
  }
}



section.location {
  margin-top: 200px;
  margin-bottom: 100px;

  @include xxl {
    margin-top: 130px;
  }

  h2 {
    font-weight: 900;
    font-size: 63px;
    line-height: 77px;
    text-align: center;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    background: linear-gradient(87.72deg, #314085 2.12%, #00a6e8 98.98%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin-bottom: 70px;

    @include xl {
      font-size: 40px;
    }

    @include md {
      margin-bottom: 0;
      line-height: 40px;
    }

    @include xs {
      font-size: 24px;
      line-height: 30px;
    }
  }

  .example-3d {
    width: 100%;
    // height: 700px;
    padding-top: 50px;
    padding-bottom: 50px;

    .swiper-container {
      overflow: visible;

      .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1100px;
        height: 650px;
        text-align: center;
        font-weight: bold;
        background-position: center;
        background-size: cover;

        @include xxl {
          height: 600px;
        }

        @include xl {
          width: 890px;
        }

        @include lg {
          width: 760px;
        }

        @include md {
          width: 80%;
          height: 600px;
        }

        @media (max-width: 700px) {
          width: 550px;
        }

        @media (max-width: 600px) {
          width: 90%;
          height: 620px;
        }

        @include xs {
          width: 95%;
          height: 700px;
        }


        .location_card {
          width: 100%;
          height: 100%;
          border-radius: 60px;
          border: 2px solid #fff;
          border-radius: 60px;
          overflow: hidden;
          display: flex;
          text-align: left;

          @include md {
            flex-direction: column;
            border-radius: 30px;
          }

          img {
            width: 50%;
            height: 100%;
            object-fit: cover;

            @include md {
              width: 100%;
              height: 60%;
            }
          }

          .card_title {
            width: 100%;
            text-align: left;
            padding: 57px;
            padding-right: 30px;
            padding-bottom: 0;
            background: #1a72b6;
            color: #fff;

            @include xxl {
              padding-top: 30px;
            }

            @include xl {
              padding-left: 30px;
            }

            // @media (max-width: 700px) {
            //   width: 50%;
            // }

            @include md {
              height: 40%;

            }

            h3 {
              font-weight: 900;
              font-size: 35px;
              line-height: 43px;
              letter-spacing: 0.01em;
              text-transform: capitalize;
              margin-bottom: 25px;

              @include xxl {
                font-size: 30px;
                margin-bottom: 20px;
              }

              @include xl {
                font-size: 25px;
              }

              @include lg {
                font-size: 20px;
                line-height: 40px;
              }
            }

            h4 {
              font-weight: 800;
              font-size: 20px;
              line-height: 24px;
              margin-bottom: 10px;


              @include lg {
                font-size: 18px;
              }

              i {
                font-size: 24px;
                margin-right: 12px;
              }
            }

            a {
              font-weight: 500;
              font-size: 16px;
              line-height: 160%;
              opacity: 0.7;
              margin-bottom: 25px;
              color: #fff;

              @media (max-width: 700px) {
                font-size: 15px;
              }
            }

            iframe {
              width: 390px;
              height: 190px;

              @include xxl {
                width: 420px;
              }

              @include xl {
                width: 390px;
              }

              @include lg {
                width: 320px;
              }

              @include md {
                display: none;
              }
            }
          }

          .address {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 30px;

            @include xs {
              gap: 0;
            }

            a {
              opacity: 1;
              font-size: 18px;
              border-bottom: 1px solid #fff;
              margin-right: 10px;

              @include xs {
                margin-bottom: 16px;
              }
            }
          }
        }
      }

      .swiper {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;

        .swiper-wrapper {
          align-items: center !important;
        }
      }
    }
  }

  .swiper-pagination {
    .swiper-pagination-bullets {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    .swiper-pagination-bullet {
      width: 16px;
      height: 16px;

      @media (max-width: 600px) {
        width: 10px;
        height: 10px;
      }

      &.swiper-pagination-bullet-active {
        width: 21px;
        height: 21px;
        background: linear-gradient(87.72deg, #314085 2.12%, #00a6e8 98.98%);

        @media (max-width: 600px) {
          width: 10px;
          height: 10px;
        }
      }
    }
  }

  .swiper-pagination-fraction,
  .swiper-pagination-custom,
  .swiper-container-horizontal>.swiper-pagination-bullets {
    bottom: -60px;

    @media (max-width: 600px) {
      bottom: -40px;
    }
  }
}

.footer {
  background: linear-gradient(87.72deg, #314085 2.12%, #00A6E8 98.98%);
  padding: 100px 0;
  color: #fff;

  .container {
    display: flex;
    justify-content: space-between;
    gap: 15px;

    @include xl {
      flex-wrap: wrap;
      gap: 80px;
      justify-content: center;
    }

    @include lg {
      justify-content: flex-start;
    }

    @include sm {
      gap: 30px;
    }

    a {
      color: #fff;
      font-weight: 500;
      font-size: 22px;
      line-height: 48px;

      @include sm {
        font-size: 16px;
      }
    }
  }

  .site_logo {
    @include sm {
      width: 100%;
    }
  }

  .contact {
    h2 {
      font-weight: 700;
      font-size: 28px;
      line-height: 35px;

      @media (max-width: 567px) {
        font-size: 22px;
      }
    }

    a {
      font-weight: 500;
      font-size: 22px;
      line-height: 27px;
      transition: 1s;
      text-align: center;
    }
  }


  .social {
    h2 {
      font-weight: 700;
      font-size: 28px;
      line-height: 35px;

      @media (max-width: 567px) {
        font-size: 22px;
      }
    }

    ul {
      display: flex;
      align-items: center;
      gap: 20px;

    }
  }

  .header_left_logo {

    @include lg {
      width: 517px;
    }

    @include sm {
      width: auto;
    }
  }

}