@import './components/_vars.scss';
@import './components/_mixins.scss';
@import './components/_normolize.scss';
@import './components/_general.scss';
@import './components/_breakpoints.scss';

@font-face {
    font-family: "Montserrat";

    src: local("Montserrat Regular"),
        local("Montserrat-Regular"),
        url("@/assets/fonts/Montserrat/Montserrat-Regular.woff2") format('woff2'),
        url("@/assets/fonts/Montserrat/Montserrat-Regular.woff") format('woff');
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";

    src: local("Montserrat Bold"),
        local("Montserrat-Bold"),
        url("@/assets/fonts/Montserrat/Montserrat-Bold.woff2") format('woff2'),
        url("@/assets/fonts/Montserrat/Montserrat-Bold.woff") format('woff');
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}