.registration {
    font-family: 'Montserrat';
    min-height: 100vh;

    @media (min-width: 800px) {
        display: flex;
    }

    &__top {
        background: linear-gradient(37.89deg, #2C1F82 2.77%, #00A6E8 100%);
        position: relative;
        z-index: 10;
        display: none;

        @media (min-width: 800px) {
            display: block;
            width: 50%;
        }
    }

    &__wrapper {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 3rem;
        overflow: hidden;
        position: relative;

        @media (min-width: 800px) {
            max-width: 600px;
            min-height: 100%;
            margin: 0 auto;
            padding-top: 0;
            align-items: flex-start;
            padding: 100px 10px 0;
            // flex-direction: column-reverse;
            // justify-content: flex-start;
        }
    }

    &__img-box {
        width: 42%;
        margin-right: 1rem;

        @media (min-width: 800px) {
            min-width: 55%;
            margin-right: 0;
            position: absolute;
            bottom: 0;
        }

        @media (min-width: 1420px) {
            min-width: 60%;
        }

        @media (min-width: 1600px) {
            min-width: 75%;
        }
    }

    &__img {
        width: 100%;
        transform: translateY(5px);
    }

    &__title {
        font-weight: 700;
        font-size: 20px;
        line-height: 130%;
        color: #FFFFFF;
        font-family: 'Montserrat';


        @media (min-width: 1120px) {
            font-size: 40px;
        }
    }

    &__info {
        position: relative;
        z-index: 100;
        background: transparent;
        padding-right: 10px;

        width: 63%;

        @media (min-width: 375px) {
            width: 50%;
        }

        @media (min-width: 600px) {
            padding-right: 40px;
        }

        @media (min-width: 800px) {
            backdrop-filter: blur(5px);
            padding-right: 0;
            text-align: center;
            font-size: 30px;
            width: 100%;
        }
    }

    &__subtitle {
        font-weight: 400;
        font-size: 20px;
        line-height: 130%;
        text-align: center;
        color: #FFFFFF;
        padding-top: 10px;
        display: none;

        @media (min-width:800px) {
            display: block;
        }
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        padding-top: 30px;
    }

    &__lang {
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: 300ms;
        padding: 3px 6px;

        &.active,
        &:hover {
            background: #DAE6FF;
            color: red
        }
    }

    &__lang-box {
        width: 25px;
        height: 25px;
        border-radius: 50%;

        img {
            border-radius: 50%;
            width: 100%;
            object-fit: cover;
        }
    }

    &__language {
        padding-left: 5px;
        font-weight: 400;
        font-size: 12px;
        line-height: 140%;
        color: #1C212D;

        @media (min-width: 425px) {
            font-size: 16px;
        }
    }

    &__bottom {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;

        @media (min-width:800px) {
            width: 50%;
        }
    }

    &__logo {
        width: 100%;
        background: linear-gradient(37.89deg, #00A6E8 2.77%, #2C1F82 100%);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1.5rem;

        @media (min-width: 800px) {
            display: none;
        }

        img {
            width: 100%;
            max-width: 350px;
        }
    }

    &__logo-light {
        background: transparent;
        display: none;
        padding-bottom: 0;

        @media (min-width: 800px) {
            display: flex;
        }
    }

    .r-body {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px 15px;

        &__wrapper {
            max-width: 380px;
            position: relative;

            @media (min-width: 1420px) {
                max-width: 450px;
            }
        }

        &__text {
            font-weight: 700;
            font-size: 36px;
            line-height: 130%;
            background: linear-gradient(87.72deg, #314085 2.12%, #00A6E8 98.98%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
        }

        &__suptitle {
            font-size: 16px;
            line-height: 140%;
            color: #1C212D;
            padding: 20px 0;
            font-family: 'Montserrat';
        }

        &_form {
            width: 100%;
        }

        &__input {
            width: 100%;
            background: #FFFFFF;
            border-radius: 15px;
            padding: 15px;
            font-size: 16px;
            outline: none;
            border: none;
            font-family: 'Montserrat';
            margin-top: 22px;

            &:first-child {
                margin-top: 0;
            }


            &::placeholder {
                font-size: 16px;
                line-height: 140%;
                letter-spacing: -0.02em;
                color: #8C8C8C;
                font-family: 'Montserrat';
            }

            &:focus {
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.1), 0 0 15px rgba(0, 0, 0, 0.1);
            }

            @media (min-width: 1420px) {
                padding: 20px;
            }
        }

        &__error {
            font-size: 14px;
            color: rgb(255, 0, 0);
            font-size: 13px;
        }

        &__btn {
            background: linear-gradient(88.43deg, #F8AD0D 7.85%, #FFD831 100%);
            border-radius: 15px;
            text-align: center;
            font-weight: 600;
            font-size: 20px;
            line-height: 140%;
            color: #1C212D;
            padding: 1rem 0;
            width: 100%;
            margin-top: 40px;

            &:disabled {
                opacity: 0.5;
                cursor: not-allowed;
            }
        }
    }
}