<template>
  <div class="wrapper">
    <LayoutsHeader />
    <Nuxt />
    <LayoutsFooter />
  </div>
</template>

<script>
import AOS from "aos";
import "aos/dist/aos.css";
export default {
  mounted() {
    AOS.init();
  },
};
</script>

<style>
.wrapper {
  overflow: hidden;
  width: 100%;
}
</style>
