<template>
  <div class="error">
    <span class="main">404</span>
    <span>Page not found</span>
    <nuxt-link class="home-btn" :to="'/'">{{ $t("home") }}</nuxt-link>
  </div>
</template>

<script>
export default {
  layout: "empty",
};
</script>

<style scoped lang="scss">
.error {
  width: 100%;
  height: 100vh;
  font-weight: 700;
  font-size: 25px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(87.72deg, #314085 2.12%, #00a6e8 98.98%);

  @media (min-width: 800px) {
    font-size: 35px;
  }
}

.error .main {
  font-size: 75px;
  @media (min-width: 800px) {
    font-size: 95px;
  }
}

.error .home-btn {
  font-size: 16px;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  border-radius: 20px;
  background: #fff;
  color: #314085;
}
</style>
