<template>
  <div>
    <HomeBanner />
    <HomeChoose />
    <HomePlatform />
    <HomeIelts />
    <HomeTeachers />
    <HomeChoice />
    <HomeLocation />
  </div>
</template>

<script>
export default {
  data() {
    return {};
  },
};
</script>

<style lang="scss">
@import "../assets/styles/home.scss";
</style>
