<template>
  <div>
    <no-ssr>
      <pdf
        v-for="i in numPages"
        :key="i"
        :src="src"
        :page="i"
        style="display: inline-block; width: 100%"
      ></pdf>
    </no-ssr>
  </div>
</template>

<script>
import pdf from "vue-pdf";

let loadingTask = pdf.createLoadingTask("/coferta.pdf");

export default {
  components: {
    pdf,
  },
  data() {
    return {
      src: loadingTask,
      numPages: undefined,
    };
  },
  mounted() {
    this.src.promise.then((pdf) => {
      this.numPages = pdf.numPages;
    });
  },
};
</script>
