<template>
  <footer
    class="footer"
    data-aos="fade-zoom-in"
    data-aos-easing="ease-in-back"
    data-aos-delay="300"
    data-aos-offset="0"
  >
    <div class="container">
      <div>
        <nuxt-link to="/" class="header_left_logo"
          ><img src="~/assets/images/png/Frame.svg" alt="" class="site_logo"
        /></nuxt-link>
      </div>
      <div class="contact">
        <h2>{{ $t("footer.learn") }}</h2>
        <ul>
          <li v-for="(list, idx) in footer" :key="idx">
            <a :href="list.link">{{ list[$i18n.locale] }}</a>
          </li>
        </ul>
      </div>
      <div class="contact">
        <h2>{{ $t("footer.contact_Us") }}</h2>
        <a href="tel:+998787777774">(78) 777 7774</a>
      </div>
      <div class="social">
        <h2>{{ $t("footer.social") }}</h2>
        <ul>
          <li>
            <a
              target="_blank"
              href="https://www.facebook.com/CambridgeLearningCentreUzb"
              ><i class="icon-facebook"></i
            ></a>
          </li>
          <li>
            <a
              target="_blank"
              href="https://www.instagram.com/cambridge_learning_center"
              ><i class="icon-instagram"></i
            ></a>
          </li>
          <li>
            <a
              target="_blank"
              href="https://www.tiktok.com/@cambridgelc?_t=8VYukzqWkD3&_r=1"
              ><i class="icon-tik-tok"></i
            ></a>
          </li>
          <li>
            <a
              target="_blank"
              href="https://www.youtube.com/CambridgeLearningCentre"
              ><i class="icon-youtube"></i
            ></a>
          </li>
        </ul>
      </div>
    </div>
  </footer>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  computed: {
    ...mapGetters("footer", ["footer"]),
  },
};
</script>

<style></style>
