<template>
  <div>
    <header class="header_desc">
      <div class="header_left" :class="{ active: is_mobile_menu }">
        <i
          v-if="is_mobile"
          class="icon-crosss"
          @click="is_mobile_menu = !is_mobile_menu"
        ></i>
        <nuxt-link v-if="!is_mobile" to="/" class="header_left_logo"
          ><img
            src="~/assets/images/png/Vector (1).png"
            alt=""
            class="site_logo"
        /></nuxt-link>
        <nuxt-link to="/" v-if="is_mobile" class="header_left_logo"
          ><img src="~/assets/images/png/Frame.svg" alt="" class="site_logo"
        /></nuxt-link>

        <div class="header_menu">
          <ul>
            <li v-for="(menu, idx) in menu_array" :key="idx">
              <nuxt-link :to="'/' + menu.path">{{
                menu.text[$i18n.locale]
              }}</nuxt-link>
            </li>
            <li class="ofetra">
              <nuxt-link :to="localePath(`/oferta/`)">{{
                $t("Ofetra")
              }}</nuxt-link>
            </li>
            <!-- <iframe src="/testpdf.pdf" style="width: 1000px; height: 500px;"></iframe> -->
          </ul>
        </div>
      </div>
      <div
        class="open_menu_blur"
        v-if="is_mobile"
        :class="{ active: is_mobile_menu }"
      ></div>
      <div class="header_right">
        <div class="burger_btn" @click="is_mobile_menu = !is_mobile_menu">
          <i class="icon-burger"></i>
        </div>
        <div class="header_right_right">
          <a
            :href="`https://oplata.apelsin.uz/merchant?serviceId=1000`"
            target="_blank"
            class="right_pay"
            >{{ $t("Pay_Online") }}</a
          >
          <a
            :href="`https://student.cambridgeonline.uz/`"
            class="right_personal"
            v-if="!is_mobile"
            >{{ $t("Personal") }}</a
          >
          <!-- <div class="right_personal" v-if="is_mobile">{{ $t("Personal") }}</div> -->

          <div
            class="right_site_lang"
            @click="openLanguage = !openLanguage"
            :class="{ active: openLanguage }"
          >
            <img src="../../assets/images/png/Vector (2).svg" alt="" />
            <span class="selected_lang" v-if="!is_mobile">
              {{ selected.title }}</span
            >
            <span class="selected_lang" v-if="is_mobile">
              {{ selected.mobile_title }}</span
            >

            <!-- <i class="icon-chevron-down"></i> -->
            <ul v-if="openLanguage">
              <li
                class="lang"
                v-if="!is_mobile"
                v-for="lang in langs"
                :key="lang.title"
              >
                <nuxt-link
                  :to="switchLocalePath(lang.value)"
                  @click.native="chooseLang(lang.value)"
                  >{{ lang.title }}
                </nuxt-link>
              </li>
              <li
                class="lang"
                v-if="is_mobile"
                v-for="lang in langs"
                :key="lang.title"
              >
                <nuxt-link
                  :to="switchLocalePath(lang.value)"
                  @click.native="chooseLang(lang.value)"
                  >{{ lang.mobile_title }}
                </nuxt-link>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </header>
  </div>
</template>

<script>
import menu_array from "~/frags/menu_array";
export default {
  data() {
    return {
      is_mobile: false,
      is_mobile_menu: false,
      openLanguage: false,
      menu_array: menu_array,
      allLangs: {
        uz: {
          title: "O’zbekcha",
          value: "uz",
          mobile_title: "O’zb",
        },
        ru: {
          title: "Русский",
          value: "ru",
          mobile_title: "Рус",
        },
        en: {
          title: "English",
          value: "en",
          mobile_title: "Eng",
        },
      },
      langs: {},
      selected: {},
    };
  },
  methods: {
    chooseLang(lang) {
      this.selected = this.allLangs[lang + ""];
      this.langs = { ...this.allLangs };
      delete this.langs[lang + ""];
      this.$router.go();
    },
    checkWindowWidth() {
      const width = window.innerWidth;
      if (width < 800) {
        this.is_mobile = true;
        return;
      }
    },
  },
  mounted() {
    this.checkWindowWidth();
    this.selected = this.allLangs[this.$i18n.locale];
    this.langs = { ...this.allLangs };
    delete this.langs[this.$i18n.locale];
    // console.log(window.innerWidth);
    // console.log(this.is_mobile);
  },
};
</script>

<style lang="scss" scoped></style>
